#sidebar {
    position:relative;
    top:50px; bottom:0; left:50px;

    background:#fff;
}
a:visited
{
color:#FF0000
}

#crop {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
